<h1>Agencies</h1>
<%= link_to "<= Back to Home", root_path %>
	<p><%= link_to image_tag("grp1.png") %><%= link_to image_tag("grp2.png") %><%= link_to image_tag("grp3.png") %><%= link_to image_tag("grp4.png") %></p>
	<p>The table below lists and briefly describes important Chinese-American agencies:</p>
	<h2>
<table class="space">
	<tr class="space">
		<td>Chinese American Citizens
		Alliance 1915 – Present</td><td>(Protects the rights of Chinese-Americans)</td>
	</tr>
	<tr class="space">
		<td>Chinese-American Chamber of
		Commerce 1980s – Present</td><td>(Non-Profit Organization available to Chinese-American Businesses)</td>
	</tr>
	<tr class="space">
		<td>Chinese American
		Semiconductor Professional
		Association</td><td>(Promotes technology and innovation, and bridge theSilicon Valley to the world)</td>
	</tr>
	<tr class="space">
		<td>Sound of Hope (SOH) 2003 –
		Present</td><td>(Radio program geared towards
			global news in Mandarin,
			Cantonese and Taiwanese)</td>
	</tr>
</table>
</h2>