<h1>Chinatown</h1>
<%= link_to "<= Back to Home", root_path %>
<p>Learning about tea at the Hilton hotel in Chinatown.</p>
<p>
<%= link_to image_tag("chtwn1.png") %>
<%= link_to image_tag("chtwn2.png") %>
</p>
<p>Eating at the House of Nanking.</p>
<p>
<%= link_to image_tag("chtwn3.png") %>
<%= link_to image_tag("chtwn4.png") %>
</p>
<p>One of the amazing pieces of art we saw at the gallery.</p>
<p>
<%= link_to image_tag("chtwn5.png") %>
</p>
