<h1>>Home</h1>
<p>This website is a graphic and narrative representation of my journey into the Chinese-American community. It is a portfolio that contains information that my group and I collected about the Chinese-American community during this semester. Below are links that will help you navigate the site.</p>

<right><%= link_to image_tag("flag.png") %></right>

<ul>
	<li><%= link_to "My Essay", essay_path %>: This page explains what I have learned from this assignment.</li>
	<li><%= link_to "Chinatown Experience", chinatown_path %>: This page visually documents my group's trip to San Francisco's Chinatown.</li>
	<li><%= link_to "The Markets", ranch99_path %>: This page visually documents my experiences in Chinese and Asian markets.</li>
	<li><%= link_to "Jiaozi Tutorial", journey_path %>: This page teaches you how to make Jiaozi!</li>
	<li><%= link_to "Demographics", demographics_path %>: This page breaks down Chinese-American Demographics.</li>
	<li><%= link_to "History", history_path %>: This page briefly goes over Chinese-American History.</li>
	<li><%= link_to "Agencies", agencies_path %>: This page lists and briefly describes Chinese-American agencies.</li>
	<li><%= link_to "Issues", issues_path %>: This page highlights recent Chinese-American issues.</li>
	<li><%= link_to "References", references_path %>: This page contains my references.</li>
