<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Portfolio", 'root_path', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
  
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Essay", essay_path %></li>
      <li><%= link_to "Chinatown", chinatown_path %></li>
       <li><%= link_to "Markets", ranch99_path %></li>
       <li><%= link_to "Jiaozi", journey_path %></li>
	  <li><%= link_to "Demographics", demographics_path %></li>
	<li><%= link_to "History", history_path %></li>
	<li><%= link_to "Agencies", agencies_path %></li>
	<li><%= link_to "Issues", issues_path %></li>
	<li><%= link_to "References", references_path %></li>
    </ul>
	      </nav>
	    </div>
	  </div>
	</header>